<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CCA-Test page of Likhith Ganepeneni</title>
        <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
        <link rel="stylesheet" href=https://udayton-cloud.bitbucket.io/style1.css>
   <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
crossorigin="anonymous"></script>
 
<script src="/socket.io/socket.io.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

   

    #message-input {
      flex-grow: 1;
    }
    .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 30px !important;
  box-sizing: border-box;
  font-size: 10px !important;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



  </style>
 
</head>
<body>
 

  <div class="container wrapper">
        <div id="top">
        <h1>A Test webpage for Cloud Computing and Applications</h1>
        <h2>By Likhith Ganepeneni</h2>
        <h4> Welcome <%= data.currentUser %></h4>
        <div id="email" onclick="showhideEmail()">Show my email</div>
        <script src="email.js"></script>
        </div>
        <div class="wrapper">
            <div>Sprint 2 Private web chat</div>
        <div id="menubar"> 
        <p>Just a demo HTML page.</p>
        <canvas id="analog-clock" width="150" height="150" style="background-color:#999"></canvas>
        <div>Online Users</div>
        <div>
            <select name="onlineusers" id="onlineusers" multiple style="width:100%" onchange="multiselectOnchange()">
              <%  data.onlineUsers.forEach(function(user, index) { %>
                <option value="<%= user %>"><%= user %></option>
            <%});%>
            </select>
        </div>
        </div>
        <div id="main">
    
        
<script>
var canvas = document.getElementById("analog-clock");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000)
var name =""

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}
</script>
<div > 
    
  </form>
     <form border-style="solid" id="send-container" >
         <h2> Welcome to chat </h2>
     <input type="text" name="message" id="message-input" placeholder="your message" required="yes">
           <button type="submit" id="send-button">Send</button>
            <!-- <input  type="submit" value="send" onclick="send()"><br> -->
      </form>
 </div>             
 



<div class="chat-popup" id="myForm" style="display:none;border:thick solid #0000FF;">
  <form class="form-container" id="popup-chat-container">
    <h3 id="chatHeaderName">Chat</h3>

    <div id="divchatmessage"></div>
    <input type="textbox" placeholder="Type message.." id="txtChatMessage" name="msg" required style="width:100%;height:50px;"></input>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
    var isChatwindowOpened = false;
    var openedChatWindows = [];
function openForm(username) {
    document.getElementById("chatHeaderName").innerHTML =username;
  document.getElementById("myForm").style.display = "block";
  isChatwindowOpened = true;
  openedChatWindows.push(username);
}

function closeForm() {
  document.getElementById("txtChatMessage").value="";
  document.getElementById("myForm").style.display = "none";
  isChatwindowOpened = false;
}

function multiselectOnchange(){
 var sel = document.getElementById("onlineusers");
 var len = sel.options.length;
 var username = "";
  for (var i = 0; i < len; i++) {
    opt = sel.options[i];
    if (opt.selected) {
       username = opt.text;
      openForm(username)
    }
  }
}
</script>

            <br/>
            <br/>
           
        
        <div id="typing"></div>
        <!-- <div id="online"></div> -->
        <!-- <div id="response"></div> -->

 
   <div id="message-container"></div>

    <script>
function findError() {
    var result = null,
        tmp = [];
    var items = location.search.substr(1).split("&");
    for (var index = 0; index < items.length; index++) {
        tmp = items[index].split("=");
        if (tmp[0] === "error") result = decodeURIComponent(tmp[1]);
    }
    return result;
}
alert ("error is "+ findError())
if (findError() == "1"){
     alert("username or password not corrent");

}
      const socket = io()
const messageContainer = document.getElementById('message-container')
const chatContainer = document.getElementById('divchatmessage');
const messageForm = document.getElementById('send-container')
var popupchatForm = document.getElementById("popup-chat-container");
const messageInput = document.getElementById('message-input');
var chatmessageInput = document.getElementById("txtChatMessage");
function appendMessage(message) {
  const messageElement = document.createElement('div')
  messageElement.innerText = message
  messageContainer.append(messageElement)
}

function appendChatMessage(message)
{
    
    const messageDiv = document.createElement('div')
    messageDiv.innerText = message
    chatContainer.append(messageDiv)
    //
}
//const name = prompt('What is your name?')
appendMessage('You joined')


socket.on('online-user-msg', data => {
     name = data
 // const name = data.name
  console.log("name is "+data);
 // alert("the data is " +data)
})

socket.on('login-failed', data => {
 alert(data);
})
//socket.on("typing", function(data){
//         $("#typing").html(data);
//         setTimeout(()=>{$("#typing").html("<br>")},2000);
//       });

//TODO: get and update name of username 

socket.emit('new-user', name)

socket.on('chat-message', data => {
 // appendMessage(`${data.name}: ${data.message}`)

 

   //for(var index = 0; index<=openedChatWindows.length;index++){
                    //if(openedChatWindows[index] && openedChatWindows[index] == data.name)
                    //{
                    //     appendChatMessage(`${data.name}: ${data.message}`);
                     //   break;
                    //}
                    //else{

                      //  openForm(data.name);
                    //    appendChatMessage(`${data.name}: ${data.message}`);
                   // }
   // } 
  if(!isChatwindowOpened){
      openForm(data.name)

      appendChatMessage(`${data.name}: ${data.message}`);
  }
    else{
         appendChatMessage(`${data.name}: ${data.message}`);
    }
})



socket.on('user-connected', name => {
  var select = document.getElementById("onlineusers");
  var  isexist = false
   for(var i= 0; i<=select.options.length;i++)
   {
     if(select.options[i] && select.options[i].text && select.options[i].text == name)
     {
         isexist = true;
         break;
     }
   }
   if(!isexist)
   {     select.options[select.options.length] = new Option(name, name);}
    console.log("user-connected" + name);
  appendMessage(`${name} connected`)
})

socket.on('user-disconnected', name => {

  var select = document.getElementById("onlineusers");
  var  isexist = false
   for(var i= 0; i<=select.options.length;i++)
   {
     if(select.options[i] && select.options[i].text && select.options[i].text == name)
     {
         select.remove(i);
     }
   }
  appendMessage(`${name} disconnected`)
})

messageForm.addEventListener('submit', e => {
  e.preventDefault()
  const message = messageInput.value
  appendMessage(`You: ${message}`)
  socket.emit('send-chat-message', message)
  messageInput.value = ''
})


messageForm.addEventListener('submit', e => {
  e.preventDefault()
  const message = messageInput.value
  appendMessage(`You: ${message}`)
  socket.emit('send-chat-message', message)
  messageInput.value = ''
})


popupchatForm.addEventListener('submit', e => {
  e.preventDefault()
  const message = chatmessageInput.value
  appendChatMessage(`You: ${message}`)
  socket.emit('send-chat-message', message)
  chatmessageInput.value = ''
});

  </script>
 
</body>
</html>


<!-- 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <title>CCA-Test page of Likhith Ganepeneni</title>
        <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
        <link rel="stylesheet"
        href=https://udayton-cloud.bitbucket.io/style1.css>
    <style>
  .login-page {
  width: 300px;
  padding: 8% 0 0;
  margin: auto;
  margin-top:90px;
border-style:solid !important;
  border:15;
  border-color:#d3d3d3;
 

}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 30px !important;
  box-sizing: border-box;
  font-size: 10px !important;
}
input[type=text]{
    padding:10px !important;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {

}
          .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            font-size:15px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .round {border-radius: 8px;}
        #response {background-color: #ff9800;} /* Orange */
    </style>
     <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
crossorigin="anonymous"></script>
 
<script src="/socket.io/socket.io.js"></script>

<script>
    var socketio = io();

    
     

     function send(){
      //  alert ("clicked");
        var input = $("#data").val();
        alert (input);
        if (input.length == 0) return;
        socketio.emit("message",input);
        $("#data").val("");
       // var datas =$("#data").val("");
        
    }
  
    
    
      function checkEnter(event){
        if(event.keyCode == 13) send();
    }

     socketio.on("message" , (data)  =>  {
        $("#response").append(data + "<br>");
    });
   
    socketio.on('successfully_inserted', (data) => {
        alert("successfully created new account");
     });
    
    
    socketio.on("typing", function(data){
        $("#typing").html(data);
        setTimeout(()=>{$("#typing").html("<br>")},2000);
      });

     socketio.on("online" , (data)  =>  {
        $("#online").html(data + "<br>");
    });
    

    </script>
    
    </head>
    
    <body>
        
        <div class="container wrapper">
        <div id="top">
        <h1>A Test webpage for Cloud Computing and Applications</h1>
        <h2>By Likhith Ganepeneni</h2>
        <div id="email" onclick="showhideEmail()">Show my email</div>
        <script src="email.js"></script>
        </div>
        <div class="wrapper">
        <div id="menubar"> 
        <p>Just a demo HTML page.</p>
        <canvas id="analog-clock" width="150" height="150" style="background-color:#999"></canvas>
        </div>
        <div id="main">
    
        
<script>
var canvas = document.getElementById("analog-clock");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}
</script>
<div >
     <form border-style="solid" >
         <h2> Welcome to chat </h2>
     <input type="text" name="message" id="message" placeholder="your message" required="yes">
            <input  type="submit" value="send" onclick="send()"><br>
      </form>
 </div>             
 

            <br/>
            <br/>
           
        
        <div id="typing"></div>
        <div id="online"></div>
        <div id="response"></div>
<!--        
  
    
    <script>
    function getEcho() {
        var input = document.getElementById("data").value;
        if(input.length == 0) {
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 &&
                this.status == 200){
                console.log("Recieved data="+xhttp.responseText);
                document.getElementById("response").innerText= "Response from server:" + xhttp.responseText;
                //code to show the data
                }
        }
        xhttp.open("GET", "echo.php?data="+input, true);
        //code to create an Ajax request
        xhttp.send(); //code to send the request
        document.getElementById("data").value="";
    }
    </script> -->
    
<!-- <script>
    function jQueryAjax() {
var input = $("#data").val(); 
if (input.length == 0) return;
$.get("echo.php?data="+input,
function(result) {
$("#response").html("Response from server:" + result);
});
$("#data").val("");
}
</script> -->

<!-- <script>
function jQueryAjaxPost() {
var input = $("#data").val();
if (input.length == 0) return;
$.post("echo.php",
{data: input},
function( result ) {
$("#response").html("Response from server:" + result);
});
$("#data").val("");
}

 
</script> -->

            <!-- </div>
        </div>
    </div>
    
    </body>
</html> --> 