<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CCA-Test page of Likhith Ganepeneni</title>
  <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
  <link rel="stylesheet" href=https://udayton-cloud.bitbucket.io/style1.css>
  <style>
    .login-page {
      width: 300px;
      padding: 8% 0 0;
      margin: auto;
      margin-top: 90px;
      border-style: solid !important;
      border: 15;
      border-color: #d3d3d3;


    }

    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 25px;
      padding: 30px !important;
      box-sizing: border-box;
      font-size: 40px !important;
    }

    input[type=text] {
      padding: 13px !important;
    }

    input[type=password] {
      padding: 13px !important;
    }

    .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 20px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }

    .form button:hover,
    .form button:active,
    .form button:focus {
      background: #43A047;
    }

    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 20px;
    }

    .form .message a {
      color: #4CAF50;
      text-decoration: none;
    }

    .button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .round {
      border-radius: 8px;
    }

    #response {
      background-color: #ff9800;
    }

    /* Orange */
  </style>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socketio = io();




    function send() {
      var input = $("#data").val();
      if (input.length == 0) return;
      socketio.emit("message", input);
      $("#data").val("");
    }



    function checkEnter(event) {
      if (event.keyCode == 13) send();
    }

    socketio.on("message", (data) => {
      $("#response").append(data + "<br>");
    });
    
    socketio.on('successfully_inserted', (data) => {
      alert("successfully created new account");
    });


    socketio.on("typing", function (data) {
      $("#typing").html(data);
      setTimeout(() => { $("#typing").html("<br>") }, 2000);
    });

    socketio.on("online", (data) => {
      $("#online").html(data + "<br>");
    });

  </script>

</head>

<body>

  <div class="container wrapper" style="width: 100%;">
    <div id="top">
      <h1>A Test webpage for Cloud Computing and Applications - Final Project - Sprint 2</h1>
      <h2>Team: Likhith Ganepeneni</h2>
      <div id="email" onclick="showhideEmail()">Show my email</div>
      <script src="email.js"></script>
    </div>
    <div class="wrapper">
      <div id="menubar">
        <p>Just a demo HTML page.</p>
        <canvas id="analog-clock" width="150" height="150" style="background-color:#999"></canvas>
      </div>
      <div id="main">


        <script>
          var canvas = document.getElementById("analog-clock");
          var ctx = canvas.getContext("2d");
          var radius = canvas.height / 2;
          ctx.translate(radius, radius);
          radius = radius * 0.90
          setInterval(drawClock, 1000);

          function drawClock() {
            drawFace(ctx, radius);
            drawNumbers(ctx, radius);
            drawTime(ctx, radius);
          }
        </script>
        <div class="login-page" style="padding-top:5px;">

          <div id="loginForm" style=" text-align:center;">
            <form border-style="solid" method="POST" action="/">
              <h2> LOG IN </h2>

              <input type="text" name="username" id="username" placeholder="username" required><br><br />
              <input type="password" name="password" id="password" placeholder="password" required><br><br>
              <input class="button round" type="submit" id="loginBtn" value="login"><br>
            </form>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </div>


          <br />
          <br />



          <script>
            function getEcho() {
              var input = document.getElementById("data").value;
              if (input.length == 0) {
                return;
              }
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function () {
                if (this.readyState == 4 &&
                  this.status == 200) {
                  console.log("Recieved data=" + xhttp.responseText);
                  document.getElementById("response").innerText = "Response from server:" + xhttp.responseText;
                  //code to show the data
                }
              }
              xhttp.open("GET", "echo.php?data=" + input, true);
              xhttp.send(); 
              document.getElementById("data").value = "";
            }
          </script>

          <script>
            function jQueryAjax() {
              var input = $("#data").val();
              if (input.length == 0) return;
              $.get("echo.php?data=" + input,
                function (result) {
                  $("#response").html("Response from server:" + result);
                });
              $("#data").val("");
            }
          </script>

          <script>
            function jQueryAjaxPost() {
              var input = $("#data").val();
              if (input.length == 0) return;
              $.post("echo.php",
                { data: input },
                function (result) {
                  $("#response").html("Response from server:" + result);
                });
              $("#data").val("");
            }

            $(document).ready(function () {

              $('#loginForm').on('submit', function (e) {
                //e.preventDefault(); 
                //alert("login clicked");
                login();
                $('#loginForm').submit();
              });
            });

            function login() {
              var username = $("#username").val();
              var password = $("#password").val();
              if (username.length < 4 || password.length < 4) {
                alert("username or password is not valid");
                return;
              }

            }
          </script>
        </div>
      </div>
    </div>

</body>

</html>